/* @media screen and (max-width:425px) {

} */

/* ======================== 야미푸드 반응형 웹 ======================= */
@media screen and (max-width:412px){
    .logo {
        float: none;
        text-align: center;
    }
    .user {
        display: none;
    }
    #burger {
        display: block;
        top: 20px;
    }
    #gnb li {
        margin: 0;
        padding: 15px 0;
        width: calc(100% / 4); /* 계산함수 calc */
        text-align: center;
    }
    #slide {
        height: 200px;
    }
    .bx-wrapper {
        height: 200px;
    }
    .slider img {
        height: 200px;
    }
    .slogan h3 {
        font-size: 1.1rem;
    }
    .slogan h4 {
        font-size: 1.5rem;
        font-weight: 400;
    }
    .img_icon {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1 1 auto;
    }
    .img_icon li {
        width: 25%;
    }
    .img_icon img {
        width: 100%;
    }
}